<mat-card appearance="outlined" class="product-details">
 
  <img mat-card-image [src]="'../../'+ childProduct?.avatar" class="product-picture">
     <mat-card-content class="product-name">{{childProduct?.name}}</mat-card-content>
     <mat-card-content class="product-description">{{childProduct?.description}}</mat-card-content>
     <mat-card-content class="product-price">{{childProduct?.price}} €</mat-card-content>
     <button mat-button color="#FFA725" (click)="addToCart()">In den Warenkorb</button>
   </mat-card>
 
 
 
 