.example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;  /* Verhindert das Herauslaufen */
    background-color: #C1D8C3;
    position: relative
  }
  
  .example-spacer {
    flex: 1;
  }
  
  .example-icon {
    margin-left: 30px;
    margin-right: 20px;
  }
  
  .title-button {
    background: none;
    border: none;
    color: inherit; /* Nimmt die Standard-Textfarbe des Toolbars */
    font-size: inherit;
    cursor: pointer;
    padding: 0;
  }

  .greeting {
    margin-left: 300px;
  }

  .greeting-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }